#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}
{% if item.value.configuration is defined and
      item.value.configuration | count != 0 %}
  {% set grafana = item.value.configuration %}
  {% set _attr = ['host','port','user','password','ui','advanced'] %}
  {% set _theme_attr = ['light','dark'] %}
  {% set _datasource_attr = ['influxdb','graphite','pnp'] %}
  {% set _timerange_attr = [
    '5m','15m','30m','45m',
    '1h','3h','6h','8h','12h','24h',
    '2d','7d','14d','30d',
    '2M','6M','9M',
    '1y','2y','3y',
    '1d/d','2d/d',
    '1w/w','1M/M','1Y/Y'] %}
  {% set _access_attr = ['direct','proxy','indirectproxy','iframe'] %}
  {% set _authentication_attr = ['anon','token','basic'] %}
  {% set _timerange = "6h" %}
  {% set _timerange_all = "2d" %}
  {% set _default_theme = "light" %}
  {% set _datasource = "influxdb" %}

  {% if grafana.timerange is defined and
        grafana.timerange in _timerange_attr %}
    {% set _timerange = grafana.timerange %}
  {% endif %}
  {% if grafana.timerange_all  is defined and
        grafana.timerange_all in _timerange_attr %}
    {% set _timerange_all = grafana.timerange_all %}
  {% endif %}
  {% if grafana.theme is defined and
        grafana.theme in _theme_attr %}
    {% set _default_theme = "{{ grafana.theme }}" %}
  {% endif %}
  {% if grafana.datasource is defined and
        grafana.datasource in _access_attr %}
    {% set _datasource = "{{ grafana.datasource }}" %}
  {% endif %}

[grafana]
version                 = "{{ grafana.support_grafana_5 | default('true') | bool | bodsch.core.config_bool(true_as='1', false_as='0') }}"
host                    = "{{ grafana.host | default('127.0.0.1') }}:{{ grafana.port | default('3000') }}"
protocol                = "{{ grafana.protocol | default('http') }}"
timerange               = "{{ _timerange }}"
timerangeAll            = "{{ _timerange_all }}"
defaultdashboard        = "{{ grafana.defaultdashboard.name | default('icinga2-default') }}"

  {% if grafana.support_grafana_5 | default('true') | bool %}
defaultdashboarduid     = "{{ grafana.defaultdashboard.uid | default('') }}"
  {% endif %}
defaultdashboardpanelid = "{{ grafana.defaultdashboard.panelid | default('1') }}"
defaultorgid            = "{{ grafana.defaultorgid | default('1') }}"
shadows                 = "{{ grafana.shadows | default('false') | bool | bodsch.core.config_bool(true_as='1', false_as='0') }}"
theme                   = "{{ _default_theme }}"
datasource              = "{{ _datasource }}"


  {% if grafana.accessmode is defined and
        grafana.accessmode in _datasource_attr %}
accessmode              = "{{ grafana.accessmode }}"
    {% if grafana.accessmode in [ "indirectproxy", "proxy" ] %}
accessmode              = "{{ grafana.accessmode  }}"
      {% if grafana.authentication is defined and
            grafana.authentication in _authentication_attr %}
authentication          = "{{ grafana.authentication  }}"
        {% if grafana.authentication == "token" %}
apitoken                = "{{ grafana.apitoken | default('') }}"
        {% elif grafana.authentication == "basic" %}
username                = "{{ grafana.username | default('') }}"
password                = "{{ grafana.password | default('') }}"
        {% endif %}
      {% else %}
authentication          = "anon"
      {% endif %}

      {% if grafana.accessmode == "indirectproxy" %}
indirectproxyrefresh    = "{{ grafana.indirectproxyrefresh | default('false') | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }} }}"
      {% endif %}
proxytimeout            = "{{ grafana.accessmode | default('5') }}"
    {% endif %}
  {% else %}
accessmode              = "direct"
  {% endif %}

directrefresh           = "{{ grafana.directrefresh | default('false') | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }} }}"
height                  = "{{ grafana.height | default('280') }}"
width                   = "{{ grafana.width | default('640') }}"
enableLink              = "{{ grafana.enableLink | default('false') | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }} }}"
  {% if grafana.usepublic is defined and
        grafana.usepublic | default('false') | bool %}
usepublic               = "yes"
publichost              = "{{ grafana.publichost }}"
publicprotocol          = "{{ grafana.publicprotocol | default('http') }}"
  {% endif %}
debug                   = "{{ grafana.debug | default('false') | bool | bodsch.core.config_bool(true_as='1', false_as='0') }}"
{% endif %}
