#jinja2: trim_blocks: True, lstrip_blocks: True
#!/usr/bin/env bash
# {{ ansible_managed }}
{% for t, v in icingaweb_modules.items() %}
  {% set _ = v.pop("src") %}
  {% if v.download is defined %}
    {% set _ = v.pop("download") %}
  {% endif %}
{% endfor %}
cat <<EOF
{
  "modules": {{ icingaweb_modules | to_nice_json(indent=4) }}
}
EOF
